div {
  font-family: 'Montserrat', sans-serif;
}

td {
  height: 40;
  width: 40;
  font-size: 12pt;
  border: 1px solid lightgrey;
  text-align: center;
}

.activeTile {
  background-color: darkgrey;
  color: white;
  border: 1px solid black;
}

.letterTile {
  border: 1px solid black;
}
