div {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 20px;
}

td {
  height: 40;
  width: 40;
  font-size: 12pt;
  border: 1px solid lightgrey;
  text-align: center;
}

.activeTile {
  background-color: darkgrey;
  color: white;
  border: 1px solid black;
}

.letterTile {
  border: 1px solid black;
}

.bombTile {
  border: 1px solid red;
}

.gameOverModal {
  position: fixed;
  background-color: #f4f5f7;
  border: 1px solid red;
  border-radius: 3px;
  position: absolute;
  padding: 20px;
  top: 100px;
  left: 90px;
}

.foundWords {
  margin-left: 20px;
  width: 100px;
}

.foundWords td {
  border: none;
  padding: 5px;
  height: 10px;
}

.wordTetris {
  display: flex;
  margin-top: 10px;
}

.bomb {
  background-color: #ffb1af;
}
